<html>
<header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var url = document.URL;
            var new_url = new URL(url);
            var res = new_url.searchParams.get("id");
            var gid = new_url.searchParams.get("group");
            onStart();
            list();

            function onStart() {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "gc/get_id",
                    data: JSON.stringify({groupId: gid}),
                    success: function (result) {
                        $("#title").append("<h1>" + result[0].groupName + "</h1>")
                    },
                    error: function (msg) {
                        console.log(msg);
                    }
                });
            }

            function list() {
                var ljlj = {groupId : gid};
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "channels/get_id",
                    data: JSON.stringify(ljlj),
                    success: function (result) {
                        for(i=0; i<result.length; i++) {
                            $("#list_channels").append("<a href=\"profile?id=" + res + "&channel=" + result[i].channelId + "\">" + result[i].name + "</a></br>");
                        }
                    },
                    error: function (msg) {
                        console.log(msg);
                    }
                });
            }

            $("#add").click(function (event) {
                event.preventDefault();
                if($("#myform input[type='radio']:checked").val() != null) {
                    newChannel();
                }
            });

            $("#test").click(function (event) {
                event.preventDefault();
                testing();
            });

            function newChannel() {
                var more_data = {
                    name: $("#channel_name").val(),
                    groupId: gid,
                    type: $("#myform input[type='radio']:checked").val()
                }
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "channels/post",
                    data: JSON.stringify(more_data),
                    success: function (result) {
                        window.location.href = url;
                    },
                    error: function (msg) {
                        console.log(msg);
                    }
                });
            }

            function testing() {
                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: "channels/get",
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (msg) {
                        console.log(result);
                    }
                });
            }
        })
    </script>
</header>

<body>
    <div id="title"></div>
    <div id="list_channels"></div>
    <input type="text" id="channel_name" />
    <form id="myForm">
        <p>Type:</p>
        <input type="radio" name="posts" value="posts" /> posts <br />
        <input type="radio" name="posts" value="events" /> events <br />
    </form>
    <button id="add">Create Channel</button>
    <button id="test">test</button>
</body>

</html>