<html>
<header>
  <link rel="stylesheet" type="text/css" href="../profile_style.css">
  <h1 class="logo">Grouped
    <img src="grouped.png" class="logo">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        var url = document.URL;
        var new_url = new URL(url);
        var res = new_url.searchParams.get("id");
        var channel = new_url.searchParams.get("channel");
        var user_data;

        let a = document.getElementById("home");
        a.href = "/home?id=" + res;

        onStart();

        function onStart() {
          $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "api/user/user",
            data: JSON.stringify({ id: res }),
            dataType: "json",
            success: function (result) {
              user_data = result;
              $("#welcome-text").append("Plan your event: ");
              feed();
            },
            error: function (msg) {
              console.log(msg.responseText);
            }
          });
        }

        $("#confirm").click(function (event) {
          event.preventDefault();
          ajaxPost();
        });

        function ajaxPost() {
          var temp = {
            details: $("#status").val(),
            channelId: channel
          }
          console.log(temp.user);
          $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "partytime/event",
            data: JSON.stringify(temp),
            dataType: 'json',
            success: function (result) {
              $("#status").html("");
              console.log("woke");
              window.location.href = url;
            },
            error: function (msg) {
              console.log("broke");
              window.location.href = url;
              console.log(msg.responseText);
            }
          });
        }

        function feed() {
          $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "partytime/event_fetch",
            success: function (result) {
              for (i = result.length - 1; i >= 0; i--) {
                if (result[i].channelId == channel) {
                  $("#container").append("<br><div class=\"secondary\" id=\"" + i + "\">" + result[i].details +
                    "<br><button id=\"going" + i + "\">Going</button><button>See Who\'s Going</button></div>");
                  var input = document.getElementById(i + "");
                  let evid = result[i].eventId;
                  let tag = i;
                  tryGoing(evid, tag);
                  input.children[1].onclick = function (event) {
                    yesGoing(evid);
                    //visual confirmation here
                  };
                  input.children[2].onclick = function (event) {
                    getGoing(tag, evid);
                  };
                }
              }
            },
            error: function (msg) {
              console.log(msg.responseText);
            }
          });
        }

        function yesGoing(evid) {
          var going_details = {
            eventId: evid,
            name: user_data.firstName + " " + user_data.lastName
          }
          $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "going/save",
            data: JSON.stringify(going_details),
            dataType: 'json',
            success: function (result) {
              console.log("woke");
              window.location.href = url;
            },
            error: function (msg) {
              console.log(msg.responseText);
              window.location.href = url;
            }
          });
        }

        function getGoing(ele, evid) {
          $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "going/retrieve_going",
            data: JSON.stringify({ eventId: evid }),
            dataType: 'json',
            success: function (result) {
              for (i = result.length - 1; i >= 0; i--) {
                $("#" + ele).append("<br>" + result[i].name + "</br>");
              }
            },
            error: function (msg) {
              console.log(msg.responseText);
            }
          });
        }

        function tryGoing(evid, tag) {
          $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "going/retrieve_going",
            data: JSON.stringify({ eventId: evid }),
            dataType: 'json',
            success: function (result) {
              for (i = result.length - 1; i >= 0; i--) {
                if (result[i].name == (user_data.firstName + " " + user_data.lastName)) {
                  document.getElementById("going" + tag).disabled = true;
                }
              }
            },
            error: function (msg) {
              console.log(msg.responseText);
            }
          });
        }

        $("#something").click(function (event) {
          event.preventDefault();
          something();
        });

        function something() {
          $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "partytime/event_fetch",
            success: function (result) {
              console.log(result);
            },
            error: function (msg) {
              console.log(msg.responseText);
            }
          });
        }
      });
    </script>


  </h1>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li><a id="home">Home</a></li>
      <li><a href="#">Groups</a></li>
      <li><a href="#">Channels</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>

<body>
  <div class="container" id="container">
    <div class="content">
      <div id="welcome-text">
      </div>
      <input type="text" id="status" /><button id="confirm">Post</button>
      <button id="something">test</button>
    </div>
  </div>
</body>

</html>