<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#yes").submit(function (event) {
                event.preventDefault();
                ajaxPost();
            });

            function ajaxPost() {
                var login = {
                    username: $('#username').val(),
                    password: $('#password').val()
                }
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "api/user/signin",
                    data: JSON.stringify(login),
                    dataType: 'json',
                    success: function (result) {
                        console.log(result);
                        $('#username').val("");
                        $('#password').val("");
                    },
                    error: function (msg) {
                        console.log(msg.responseText);
                    }
                });
            }

            function ajaxGet() {
                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: "api/user/fetch",
                    success: function(result) {
                        console.log(result);
                    },
                    error: function(msg) {
                        console.log(msg.responseText);
                    }
                });
            }
        });
    </script>

</head>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="../login_style.css">

<body>
    <div class="loginbox">
        <img src="grouped.png" class="avatar">
        <h1>Grouped</h1>
        <form>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username" id="username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password" id="password">
            <input type="submit" name="" value="Login" id="yes">
            <a href="#">Lost your password?</a><br>
            <a href="/signup">Don't have an account?</a>
        </form>
    </div>
</body>
</head>

</html>