<html>
<header>
  <link rel="stylesheet" type="text/css" href="../profile_style.css">
  <h1 class="logo">Grouped
    <img src="grouped.png" class="logo">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        var url = document.URL;
        var n = url.indexOf("=");
        var res = parseInt(url.substring(n + 1));
        var user_data;
        onStart();

        function onStart() {
          $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "api/user/user",
            data: JSON.stringify({ id: res }),
            dataType: "json",
            success: function (result) {
              user_data = result;
              $("#welcome-text").append("Welcome Back, " + result.firstName);
              $("#welcome-text").append("<br>What's on your mind: ");
              feed();
            },
            error: function (msg) {
              console.log(msg.responseText);
            }
          });
        }

        $("#confirm").click(function (event) {
          event.preventDefault();
          ajaxPost();
        });

        $("#test").click(function (event) {
          event.preventDefault();
          ajaxGet();
        });

        function ajaxPost() {
          var temp = {
            channelId: 0,
            userId: user_data.id,
            postText: $("#status").val(),
            createdDate: (new Date()).toString(),
            user: user_data.firstName + " " + user_data.lastName
          }
          console.log(temp.user);
          $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "grouped/post",
            data: JSON.stringify(temp),
            dataType: 'json',
            success: function (result) {
              $("#status").html("");
              console.log("woke");
              window.location.href = url;
            },
            error: function (msg) {
              console.log("broke");
              window.location.href = url;
              console.log(msg.responseText);
            }
          });
        }

        function feed() {
          $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "grouped/retrieve_posts",
            success: function (result) {
              for (i = result.length-1; i >= 0; i--) {
                $("#container").append("<br><div class=\"secondary\" id=\"" + (i*10) + "\">"
                  + result[i].user + ": " + result[i].postText + 
                "<br><button class=\"check\">Check Comments</button><br><input type=\"text\" id=\"comment" + i + "\"/>" +
                "<button class=\"create\">Comment</button></div>");
                var input = document.getElementById((i*10) + "");
                let poid = result[i].postId;
                //console.log(input.children);
                input.children[1].onclick = function(event) {
                  var ele = this;
                  commentCheck(event, ele, poid);
                };
                input.children[4].onclick = function(event) {
                  var ele = this;
                  commentCreate(event, ele, poid);
                };
              }
            },
            error: function (msg) {
              console.log(msg.responseText);
            }
          });
        }

        function commentCreate(event, ele, poid) {
          event.preventDefault();
          if(ele == "0") {
            var text_id = ele.parentElement.id;
          }
          else {
            var text_id = (ele.parentElement.id) / 10;
          }
          var new_comment = {
            postId: poid,
            contents: $("#comment" + text_id).val(),
            name: user_data.firstName + " " + user_data.lastName
          }
          $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "comments/save",
            data: JSON.stringify(new_comment),
            dataType: 'json',
            success: function (result) {
              $("#comment" + text_id).val("");
              console.log("woke");
              //window.location.href = url;
            },
            error: function (msg) {
              console.log("broke");
              //window.location.href = url;
              console.log(msg.responseText);
            }
          });
        }

        function commentCheck(event, ele, poid) {
          window.location.href = "comment" + "?id=" + poid;
        }

        function ajaxGet() {
          $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "grouped/retrieve_posts",
            success: function (result) {
              console.log(result);
            },
            error: function (msg) {
              console.log(msg.responseText);
            }
          });
        }
      });
    </script>


  </h1>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="#">Groups</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Posts</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>

<body>
  <div class="container" id="container">
    <div class="content">
      <div id="welcome-text">
      </div>
      <input type="text" id="status" /><button id="confirm">Post</button>
      <button id="test">test</button>
    </div>
  </div>
</body>

</html>