<header>
  <link rel="stylesheet" type="text/css" href="../profile_style.css">
    <h1 class="logo">Grouped
    <img src="grouped.png" class="logo">

  </h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Groups</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Posts</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>
  
  <body>
    <div class="content">
    </div>
  </body>
  